*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
 
  body{
    height: 100vh;
    background-image: url("https://plus.unsplash.com/premium_photo-1726495629372-de7ac55a58fa?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  
  .title{
    position: absolute;
    top: 5%;
    left: 8%;
    transform: translate(-50%, -50%);
  }
  .title h1{
    color: black;
    font-size: 25px;
  }
  
  .logo img{
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-left: 20px;
    border-radius: 200px
  
  }
  
  .main{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: rgb(10, 9, 9);
    height: 65px;
    width: 100%;
    
  }
  
  
  ul{
    margin-top: 20px;
    margin-right: 40px;
    float: right;
    list-style-type: none;
    border-radius: 10px;
    z-index: 1000;
  }
  
  ul li{
    display: inline-block;
    padding: 10px;
  }
  
  ul li:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
  }
  
  .dropdown{
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: rgb(10, 9, 9);
    border-radius: 10px;
  }

  ul li:hover .dropdown{
    display: block;
    position: absolute;
    margin-left: -0.28cm;
    margin-top: 0.27cm;
  }
  
  .dropdown ul{
    margin: 0;
    padding: 0;
  }
  
  .dropdown ul li{
    display: block;
  }
  .txt{
   
    margin-top: 200px;
    margin-right: 60px;
    
  }
  
  .text{
    float: right;
    margin-top: 50px;
    margin-right: 60px;
    font-size: 60px;
  }
  #text1{
    
    padding-top: 200px;
    padding-left: 1040px;
    font-size: 20px;
  }
  ul>a{
    text-decoration: none;
  border-top: solid white 1px;
  color: black;
}
footer {  
  text-align: center;  
  margin-top: 10vh;
  padding: 10px; 
 
  
}
footer p{
color: black; 
}